.projects_section {
    padding: 50px;
}

.projects_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width:992px) {
    .projects_section {
        margin-bottom: 150px;
        padding: 30px 0px;

        display: flex;
        justify-content: center;
    }

    .projects_list {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
